<h1>Contact_Information</h1>
<p></p>
<h1>Kalyan Koppolu</h1>
<h1>M00226393</h1>
<p>To visit home page click here</p>
<%= link_to 'home', home_index_path %>
<p>To know weather information click here</p>
<%= link_to 'weather', '/' %>
