<h1>WEATHER HOME PAGE</h1>
<p>To know contact information click here</p>
<%= link_to 'contact', contact_info_index_path %>
<p>To know weather information click here</p>
<%= link_to 'weather', '/' %>
</br>
<img src="http://www.zastavki.com/pictures/originals/2015/Nature___Other_Cloudy_weather_on_the_road_092911_.jpg"></img>

